html {
  overflow-y: scroll;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &::-webkit-scrollbar {
    display: none;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.medium-zoom-overlay {
  z-index: 999;
}

.highlightWord {
  color: #1da1f2;
  background-color: transparent;
}

[data-placeholder]:empty:before {
  content: attr(data-placeholder);
  color: #536471;
}

body > div.MuiDialog-root > div.MuiDialog-container.MuiDialog-scrollPaper.makeStyles-scrollPaper-31 > div {
  max-width: 9999px !important;
}
